<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    {{ post.title }}
</h1>


{% if comments %}
    <ul>
    {% for comment in comments %}
        <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No forum are available.</p>
{% endif %}



<form action="{% url 'forum:create_comment' post.id %}" method="post">
{% csrf_token %}
    <input type="text" name="content" id="content">
    <label>Content</label>
<input type="submit" value="Vote">
</form>



</body>
</html>